clientPisl/.idea/*
clientPisl/target/*
RESTfulAPIKorpPortal/.idea/*
RESTfulAPIKorpPortal/target/*
WebCorporativPortal/target/*
WebCorporativPortal/.idea/*
kurs_project_corp_portal.iml
WebCorporativPortal/WebCorporativPortal.iml